/* --- Google Font --- */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Public+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap");

/* --- CSS Vars --- */
:root {
  /* Header Height */
  --header-height: 4rem;
  /* Footer Height */
  --footer-height: calc(var(--header-height) * 0.7);
  /* Colors */
  --body-color: #f2efe5;
  --body-color-alt: #f9f9f9;
  --main-color: #436850;
  --main-color-alt: #12372a;
  --text-color: #191717;
  --text-color-alt: #ffffff;
  /* Font Size */
  --biggest-size: 1.75rem;
  --big-size: 1.25rem;
  --normal-size: 1rem;
  --small-size: 0.8rem;
  /* Font Weight */
  --normal-weight: 600;
  --bold-weight: 700;
  /* Font Family */
  --main-family: "Cairo", sans-serif;
}
@media screen and (min-width: 768px) {
  :root {
    --biggest-size: 2rem;
    --big-size: 1.5rem;
    --normal-size: 1.125rem;
    --small-size: 0.875rem;
  }
}

/* --- Base --- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--main-family);
  font-size: var(--normal-size);
  font-weight: var(--normal-weight);
  color: var(--text-color);
  background-color: var(--body-color);
  transition: 0.3s;
}
body.dark-theme {
  --body-color: #1d2521;
  --body-color-alt: #333936;
  --main-color: #bfd8af;
  --main-color-alt: #99bc85;
  --text-color: #ffffff;
  --text-color-alt: #191717;
}

html {
  scroll-behavior: smooth;
}
a {
  color: var(--text-color);
}
a,
li {
  text-decoration: none;
}
button,
input {
  font-family: var(--main-family);
  border: none;
}
img {
  max-width: 100%;
  height: auto;
}

/* --- Start Header --- */
header.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  border-bottom: 3px solid var(--main-color-alt);
  h1 {
    font-size: var(--big-size);
    text-align: center;
    color: var(--text-color-alt);
  }
  > div {
    position: fixed;
    left: -3px;
    width: 40px;
    height: 40px;
    background-color: var(--main-color-alt);
    top: calc(var(--header-height) + 0.5rem);
    border-radius: 0 0.5rem 0.5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    i {
      color: var(--body-color);
      font-size: var(--biggest-size);
    }
  }
}
/* --- End Header --- */

/* --- Start Main --- */
main.main {
  margin-top: var(--header-height);
  margin-bottom: var(--footer-height);
  padding: 0.75rem 1.25rem;
  /* --- Section Start Game --- */
  section.start-section {
    padding: 0.5rem 0.75rem;
    background-color: var(--body-color-alt);
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    h3 {
      margin-bottom: 0.8rem;
    }
    .topic {
      > div {
        label {
          margin-left: 0.5rem;
          font-weight: var(--bold-weight);
          font-size: var(--big-size);
        }
        span {
          font-weight: var(--bold-weight);
        }
      }
      > p {
        i {
          margin-left: 0.5rem;
          font-size: var(--big-size);
          color: var(--main-color-alt);
        }
        span {
          font-weight: var(--bold-weight);
          font-size: var(--big-size);
        }
      }
    }
    .diff {
      > label {
        font-weight: var(--bold-weight);
        font-size: var(--big-size);
      }
      form#diff {
        > div {
          display: flex;
          align-items: center;
          input {
            margin-bottom: -4px;
            accent-color: var(--main-color-alt);
            cursor: pointer;
          }
          label {
            margin-right: 0.5rem;
            font-weight: var(--bold-weight);
          }
        }
        button {
          display: block;
          border: none;
          padding: 0.4rem 1.75rem;
          background-color: var(--main-color);
          color: var(--text-color-alt);
          font-size: var(--normal-size);
          font-weight: var(--bold-weight);
          border-radius: 0.75rem;
          margin: 1rem auto 0;
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            background-color: var(--main-color-alt);
          }
        }
      }
    }
    &.info {
      margin-top: 0.75rem;
      p {
        display: flex;
        align-items: center;
        span {
          font-weight: var(--bold-weight);
        }
        i {
          font-size: var(--big-size);
          margin-left: 0.2rem;
          margin-bottom: -3px;
          color: var(--main-color-alt);
        }
      }
    }
  }
  section.hide {
    display: none;
  }
  /* --- Section Game --- */
  section.game-section {
    display: none;
    h3 {
      text-align: center;
      margin-bottom: 0.5rem;
    }
    .image {
      img {
        display: none;
        border-radius: 1rem;
        border: 2px solid var(--main-color-alt);
        &.visiable {
          display: block;
        }
      }
    }
    &.active {
      display: block;
    }
    .inputs {
      margin-top: 1rem;
      > div {
        span {
          display: block;
          font-weight: var(--bold-weight);
          margin-bottom: 0.5rem;
        }
        .div-inputs {
          display: grid;
          grid-template-columns: var(--grid-input);
          gap: 0.25rem;
          input {
            width: var(--width-input);
            height: var(--width-input);
            text-align: center;
            border: none;
            margin-bottom: 0.75rem;
            font-size: var(--font-input);
            border-bottom: 4px solid var(--main-color-alt);
            &:focus {
              outline: none;
            }
          }
        }
      }
    }
  }
}
/* --- End Main --- */

/* --- Start Footer --- */
footer {
  position: fixed;
  width: 100%;
  height: var(--footer-height);
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  color: var(--text-color-alt);
  border-top: 3px solid var(--main-color-alt);
  p {
    font-size: var(--small-size);
    span {
      font-weight: var(--bold-weight);
    }
  }
}
/* --- End Footer --- */
